In [1]:
from face_db_interface import FaceDBInterface
from sql_db_interface import SQLDBInterface

2023-04-16 04:51:42.209916: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.
2023-04-16 04:51:45.336625: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Could not find TensorRT

In [2]:
class DBInterace(object):

    def __init__(self,db_name='',k=5) -> None:
        self.k = k
        self.face_db = FaceDBInterface(face_directory='face',db_name=db_name,k=self.k)
        self.sql_db = SQLDBInterface(db_name=db_name)
        print('[+] Everything loaded')
    
    def enroll(self,name,address,city,state,zip,filename):
        
        id = self.face_db.enroll_face(file_name=filename)
        id = str(id)
        self.sql_db.insert(id,name,address,city,state,zip,filename)
        print('[+] Data Inserted ')
        return id

    def reterive(self,filename):
        data_json = {}
        try:
            percentage,matches=self.face_db.reterive_face(file_name=filename)
            for i in range(5):
                data_json[i]={}
                percnt = percentage[0][i]
                id = matches[0][i]
                data = self.sql_db.get_data(id=id)
                data_json[i]['name']=data[1]
                data_json[i]['address']=data[2]
                data_json[i]['city']=data[3]
                data_json[i]['state']=data[4]
                data_json[i]['zip']=data[5]
                data_json[i]['filename']=data[6]
                data_json[i]['percentage']=percnt
            data_json['status']=True
        except Exception as e:
            data_json['status']=False
            data_json['error']= str(e)
        
    # print(data)

In [3]:
db_ = DBInterace('test1')

[+] test1 Database Connected
[+] DB Schema Created
[+] Everything loaded

In [4]:
a=db_.enroll(name='Ali Abbas',address='Talagang',city='Talagang',state='Punjab',zip='48100',filename='faces/ali.jpg')

2023-04-16 04:51:49.446230: I tensorflow/compiler/xla/stream_executor/cuda/cuda_gpu_executor.cc:996] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero. See more at https://github.com/torvalds/linux/blob/v6.0/Documentation/ABI/testing/sysfs-bus-pci#L344-L355
2023-04-16 04:51:49.591158: W tensorflow/core/common_runtime/gpu/gpu_device.cc:1956] Cannot dlopen some GPU libraries. Please make sure the missing libraries mentioned above are installed properly if you would like to use GPU. Follow the guide at https://www.tensorflow.org/install/gpu for how to download and setup the required libraries for your platform.
Skipping registering GPU devices...

[+] Data inserted
[+] Data Inserted

In [7]:
db_.enroll(name='Saad',address='Mianwali',city='Mianwali',state='Punjab',zip='48100',filename='faces/saad.jpg')

IntegrityError: UNIQUE constraint failed: COMPANY.ID

In [8]:
db_.enroll(name='anwaar',address='TG',city='TG',state='Punjab',zip='48100',filename='faces/anwaa.jpg')

[+] Data inserted
[+] Data Inserted

'3'

In [9]:
db_.enroll(name='kumail',address='TG',city='TG',state='Punjab',zip='48100',filename='faces/kumail.jpg')
db_.enroll(name='farooq',address='TG',city='TG',state='Punjab',zip='48100',filename='faces/farooq.jpg')
db_.enroll(name='nazar',address='TG',city='TG',state='Punjab',zip='48100',filename='faces/nazar.jpg')

[+] Data inserted
[+] Data Inserted
[+] Data inserted
[+] Data Inserted
[+] Data inserted
[+] Data Inserted

'6'

In [10]:
percentage,matches=db_.face_db.reterive_face(file_name='ali_.jpg')

In [17]:
data_json = {}
for i in range(5):
    data_json[i]={}
    percnt = percentage[0][i]
    id = matches[0][i]
    data = db_.sql_db.get_data(id=id)
    data_json[i]['name']=data[1]
    data_json[i]['address']=data[2]
    data_json[i]['city']=data[3]
    data_json[i]['state']=data[4]
    data_json[i]['zip']=data[5]
    data_json[i]['filename']=data[6]
    data_json[i]['percentage']=percnt
    # print(data)

In [18]:
data_json

{0: {'name': 'Ali Abbas',
  'address': 'Talagang',
  'city': 'Talagang',
  'state': 'Punjab',
  'zip': '48100',
  'filename': 'faces/ali.jpg',
  'percentage': 0.53042924},
 1: {'name': 'nazar',
  'address': 'TG',
  'city': 'TG',
  'state': 'Punjab',
  'zip': '48100',
  'filename': 'faces/nazar.jpg',
  'percentage': 0.12437768},
 2: {'name': 'farooq',
  'address': 'TG',
  'city': 'TG',
  'state': 'Punjab',
  'zip': '48100',
  'filename': 'faces/farooq.jpg',
  'percentage': 0.117852345},
 3: {'name': 'anwaar',
  'address': 'TG',
  'city': 'TG',
  'state': 'Punjab',
  'zip': '48100',
  'filename': 'faces/anwaa.jpg',
  'percentage': 0.11459625},
 4: {'name': 'kumail',
  'address': 'TG',
  'city': 'TG',
  'state': 'Punjab',
  'zip': '48100',
  'filename': 'faces/kumail.jpg',
  'percentage': 0.11274448}}