In [1]:
from sql_db_interface import SQLDBInterface

In [2]:
sql = SQLDBInterface(db_name='test1')

In [4]:
sql.get_data(id=0)

('0', 'Ali Abbas', 'Talagang', 'Talagang', 'Punjab', '48100', 'faces/ali.jpg')

In [5]:
import sqlite3

In [7]:
conn = sqlite3.connect('test2.db')

In [8]:
id=1

In [12]:
cur=conn.execute(f"SELECT * FROM COMPANY")

In [13]:
for c in cur:
    print(c)

(b'\x00\x00\x00\x00\x00\x00\x00\x00', 'Ali Abbas', 'Talagang', 'Talagang', 'Punjab', '48100', 'faces/ali.jpg')
(b'\x01\x00\x00\x00\x00\x00\x00\x00', 'Saad', 'Mianwali', 'Mianwali', 'Punjab', '48100', 'faces/saad.jpg')
(b'\x02\x00\x00\x00\x00\x00\x00\x00', 'anwaar', 'TG', 'TG', 'Punjab', '48100', 'faces/anwaa.jpg')
(b'\x03\x00\x00\x00\x00\x00\x00\x00', 'kumail', 'TG', 'TG', 'Punjab', '48100', 'faces/kumail.jpg')
(b'\x04\x00\x00\x00\x00\x00\x00\x00', 'farooq', 'TG', 'TG', 'Punjab', '48100', 'faces/farooq.jpg')
(b'\x05\x00\x00\x00\x00\x00\x00\x00', 'nazar', 'TG', 'TG', 'Punjab', '48100', 'faces/nazar.jpg')